.container {
    height: 100vh;
    width: 100vw;
}

.hero {
    background-color: rgb(250, 201, 155);
    height: 70vh;
    display: flex;
}

.hero-left {
    margin-left: 130px;
    margin-top: 50px;
}

.header {
    width: 512px;
    height: 108px;
    font-style: inter;
    font-size: 36;
    font-weight: 700;
    line-height: 54px
}

.para {
    height: 81px;
    width: 495px;
    font-style: inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.text {
    height: 81px;
    width: 227px;
    font-style: inter;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
}

input {
    height: 32px;
    width: 200px;
    border-radius: 8px;
    border: 4px;
    border-color: linear-gradient(0deg, #000000, #000000),
        linear-gradient(0deg, #FFFFFF, #FFFFFF);
}

button {
    height: 42px;
    width: 162px;
    border-radius: 8px;
    background-color: rgb(11, 11, 11);
    color: white;
}

.last {
    height: 61px;
    width: 344px;
    font-style: inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    align-items: center;
    margin-left: 20px;
    color: rgba(255, 255, 255, 1);
}

.hero-right {
    display: flex;
    justify-content: flex-end;
}

.footer {
    height: 30vh;
    background-color: rgba(40, 40, 40, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 120px;
    padding-top: 40px;
    padding-right: 120px;
    line-height: 32px;

}

.footer-2 {
    text-align: right
}